{%- assign unfocused_color = "6c757d" -%}
{% for account in site.author %}
{%- assign svc = account[0] -%}
{%- assign data = site.data.social-media[svc] -%}
{% if data %}
<a class="social-link" href="{{ data.url }}{{ account[1] }}" style="color:#{{ unfocused_color }}"
  onmouseover="this.style.color='#{{ data.color }}'" onmouseout="this.style.color='#{{ unfocused_color }}'"
  target="_blank" rel="noopener">
  <iconify-icon icon="{{ data.icon }}" width="28" height="28" style="color: inherit;"></iconify-icon>
</a>
{% endif %}
{% endfor %}